/* styles.module.css */
.text-container {
  display: flex;
  align-items: flex-start;
  /* line-height: 1.2em; */
}

.line-numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  color: gray;
}

.line-number {
  color: #777;
  font-size: 12px;
  margin: 1.5px 0;
}

.code {
  overflow-x: auto;
  white-space: pre-wrap;
}

.text-content {
  flex: 1;
  overflow: auto;
  padding-left: 10px;
  border-left: 1px solid gray;
  margin: 5px 0;
}
